[Unit]
After=nginx.service
After=valkey.service
After=mariadb.service

[Timer]
OnActiveSec=60
OnUnitActiveSec=60

[Install]
WantedBy=multi-user.target
